@media screen and (max-width: 768px)
  section#banner .banner-text,
  .half-width.centered
    width: 80%

  section#contact .contact-form fieldset
    span.width-60pc
      width: 49%
    span.width-16pc
      width: 19%
    span.width-12pc
      width: 16%

@media screen and (max-width: 620px)
  .topnav .sub-menu ul.sub-menu-item li
    padding: 20px
    width: 100%
  section#contact .contact-form fieldset
    span.width-60pc, span.width-16pc, span.width-12pc
      width: 100%
      padding: 0
      margin-bottom: 20px

@media screen and (max-width: 425px)
  .topnav
    .contact-info
      margin-top: 20px
      padding: 0 10px
      ul.social-icon
        margin-left: 30px


@media screen and (max-width: 375px)
  header
    .topnav .contact-info
      margin-top: 6px
      p.info span
        display: none