html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  body
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif
    font-size: 16px
    margin: 0
    color: #111
    position: relative

    ul
      list-style: none
      padding: 0
      li
        float: left
    a
      color: #ffffff
      &:hover
        text-decoration: none
    *
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
    h1, h2, h3, h4, h5, h6
      font-family: "Times", sans-serif
      font-weight: normal
      text-transform: uppercase
    h1
      margin-top: 50px
      margin-bottom: 32px
      font-size: 45px
      color: #fff
      line-height: 60px
      letter-spacing: .18em
    h2
      font-size: 30px
    h3
      font-size: 22px
    section
      padding: 60px 0
      &:before, &:after
        display: table
        line-height: 0
        content: ""
    fieldset
      border: none
      padding: 0
    span.heading-border
      height: 2px
      width: 300px
      display: block
      margin: 10px auto
      background: #ffb44c
      background: -moz-linear-gradient(left, #ffb44c 1%, #ffeeba 100%)
      background: -webkit-linear-gradient(left, #ffb44c 1%,#ffeeba 100%)
      background: linear-gradient(to right, #ffb44c 1%,#ffeeba 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb44c', endColorstr='#ffeeba',GradientType=1 )
    .float-left
      float: left
    .float-right
      float: right
    .half-width
      width: 50%
      &.centered
        margin: 0 auto
    .container
      max-width: 1000px
      margin: 0 auto
    .text-center
      text-align: center
    .dark-text
      color: #111111
    .big-text
      font-size: 20px
    .btn
      background: transparent
      border-radius: 0
      letter-spacing: .2em
      font-size: 16px
      font-family: FuturaStd-Heavy, sans-serif
      font-weight: 600
      text-transform: uppercase
      padding: 20px
      color: #fff
      margin: 20px
      text-shadow: none
      text-decoration: none
      display: inline-block
      &:hover, &:focus
        -webkit-transition: background linear 300ms,color linear 300ms
        -moz-transition: background linear 300ms,color linear 300ms
        -o-transition: background linear 300ms,color linear 300ms
        transition: background linear 300ms,color linear 300ms
        background-color: #fff
        -moz-box-shadow: none
        -webkit-box-shadow: none
        box-shadow: none
        text-shadow: none
        outline: 0
        color: #000
    .btn-large
      padding: 20px 80px
    .btn-line
      border: 3px solid #fff

    .text-shadow
      text-shadow: 0 0 40px rgba(0,0,0,.5)
    .trans
      -webkit-transition: color .15s ease-in-out,opacity .15s ease-in-out,background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
      -moz-transition: color .15s ease-in-out,opacity .15s ease-in-out,background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
      -o-transition: color .15s ease-in-out,opacity .15s ease-in-out,background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
      -ms-transition: color .15s ease-in-out,opacity .15s ease-in-out,background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
      transition: color .15s ease-in-out,opacity .15s ease-in-out,background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
    .centered-table
      display: table
      width: 100%
      height: 100%
      .content-table
        display: table-cell
        text-align: center
        vertical-align: middle
    #errorMsg
      display: none
      color: #FF0000
      background: #fdfd9b
      padding: 15px
      border: 1px solid #e4e426
      span
        display: block
      font-size: 14px
      text-align: left
      &.show
        display: block

    .label-container
      display: block
      position: relative
      padding-left: 55px
      margin-bottom: 12px
      cursor: pointer
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      text-align: left

    /* Hide the browser's default checkbox */
    .label-container input
      position: absolute
      opacity: 0
      cursor: pointer

    /* Create a custom checkbox */
    .checkmark
      position: absolute
      top: 0
      left: 0
      height: 40px
      width: 40px
      background-color: #ffffff
      border: 1px solid #ccc

    /* On mouse-over, add a grey background color */
    .label-container:hover input ~ .checkmark
      background-color: #ffffff

    /* When the checkbox is checked, add a blue background */
    .label-container input:checked ~ .checkmark
      background-color: #ffffff


    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after
      content: ""
      position: absolute
      display: none

    /* Show the checkmark when checked */
    .label-container input:checked ~ .checkmark:after
      display: block

    /* Style the checkmark/indicator */
    .label-container .checkmark:after
      left: 12px
      top: 2px
      width: 8px
      height: 22px
      border: solid #3cda43
      border-width: 0 6px 6px 0
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)


// HEADER
.topnav
  background: #111111
  color: #b5b5b5
  width: 100%
  padding: 5px 0
  font-size: 14px
  position: fixed
  z-index: 999
  .contact-info
    margin-top: 6px
    p.info
      margin-left: 20px
    a.phone, p.info
      display: inline
    a.phone
      float: left
      margin-top: -2px
    ul.social-icon
      padding: 0
      margin: 0 0 0 50px
      float: right
      li
        a
          text-decoration: underline
          padding: 0 5px
  a
    color: #b5b5b5
    &:hover
      color: #ffffff
  a.menu-icon, a.phone
    font-size: 20px
  a.menu-icon
    padding: 2px 10px

  .sub-menu
    display: none
    position: absolute
    width: 100%
    top: 38px
    background: rgba(0,0,0,.8)
    ul.sub-menu-item
      margin: 0
      li
        padding: 10px
        a
          text-decoration: none
          text-transform: uppercase
        &:hover
          color: #ffffff
    &.show
      display: block


// CONTENT
section#banner
  height: 100vh
  color: #ffffff
  background-repeat: no-repeat
  background-position: center center
  background-color: #8699a4
  background-size: cover
  background-attachment: fixed
  opacity: 1
  -webkit-transition: opacity 1s ease-in-out
  -moz-transition: opacity 1s ease-in-out
  -o-transition: opacity 1s ease-in-out
  -ms-transition: opacity 1s ease-in-out
  transition: opacity 1s ease-in-out
  position: relative
  .banner-heading, .banner-text
    width: 50%
    margin: 0 auto
  .banner-text
    padding: 30px 0 50px
  .banner-cta
    position: absolute
    bottom: 0
    width: 100%
    p
      text-transform: capitalize
    a
      font-size: 40px

section#contact
  .contact-form
    padding: 40px 20px
    font-size: 18px
    color: rgba(0, 0, 0, 0.6)
    .second-row
      span
        padding-right: 10px
        &.last
          padding-right: 0
          padding-left: 0
    fieldset
      padding: 10px 0
      input, select, textarea
        font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial
        font-size: 16px
        border: 1px solid #ccc
        padding: 15px
        width: 100%
        &.error
          border-color: #FF0000
      select
        color: rgba(0, 0, 0, 0.6)
      span
        float: left
        input
          width: 100%
        &.last
          padding-left: 10px
        &.width-12pc
          width: 12%
        &.width-16pc
          width: 16%
        &.width-60pc
          width: 60%
      input[type="checkbox"]
        float: left
        width: inherit !important
    p
      text-align: left
    a
      color: rgba(0, 0, 0, 0.6)
    button.submit
      position: relative
      border: 1px solid #ccc
      color: #111
      cursor: pointer
      margin-bottom: 3em
      &:before
        content: " "
        position: absolute
        z-index: -1
        top: 3px
        left: 3px
        right: 3px
        bottom: 3px
        border: 2px solid rgba(0, 0, 0, 0.2)
      &:hover
        color: #ffffff
        background-color: #111111

section#responsibility
  .footer-nav
    display: inline-block
    .bottom-links
      li
        padding: 10px 20px
        a
          color: #111111
          text-transform: uppercase
          text-decoration: none

// FOOTER
footer
  .credit
    display: block
    color: rgba(0,0,0,.5)
    text-transform: uppercase
    font-size: 12px
    margin-bottom: 5em
    padding: 0 20px

#scrollTop
  background: rgba(0, 0, 0, 0.6)
  position: fixed
  right: 10px
  bottom: 10px
  a
    text-decoration: none
    color: #ffffff
    display: block
    padding: 10px 20px